In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.12/dist-packages (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in /usr/local/lib/python3.12/dist-packages (from pymongo) (2.8.0)

In [2]:
from pymongo import MongoClient

# URI MongoDB Atlas (mot de passe encodé si nécessaire)
uri = "mongodb+srv://ELila_db_user:ELilham%40@cluster1.vcasezj.mongodb.net/bankdb?retryWrites=true&w=majority"

# Création du client MongoDB
client = MongoClient(uri)

# Accès à la base de données et à la collection
db = client["bankdb"]
transactions_collection = db["transactions"]

# Vérification de la connexion
print("Connexion à MongoDB Atlas réussie!")

Connexion à MongoDB Atlas réussie!

In [25]:
pipeline = [
    {
        "$group": {
            "_id": "$Transaction Type",
            "totalAmount": {
                "$sum": { "$toDouble": "$Transaction Amount" }
            }
        }
    }
]

In [24]:
result = transactions_collection.aggregate(pipeline)

In [6]:
fraud_count = transactions_collection.count_documents(
    {"Fraud Flag": "True"}
)

print("Nombre de transactions frauduleuses :", fraud_count)

Nombre de transactions frauduleuses : 0

In [23]:
for doc in result:
    print(f"Transaction Type: {doc['_id']}, Total Amount: {doc['totalAmount']}")

Transaction Type: Transfer, Total Amount: 291776.55
Transaction Type: Withdrawal, Total Amount: 227346.12
Transaction Type: Deposit, Total Amount: 252042.62

In [10]:
print(transactions_collection.count_documents({}))

0

In [11]:
db = client["BankDB"]
transactions_collection = db["transactions"]

In [12]:
print(transactions_collection.count_documents({}))

1000

In [20]:
print('Collections in BankDB:', db.list_collection_names())

Collections in BankDB: ['transactions']

In [14]:
pipeline = [
    {
        "$group": {
            "_id": "$Transaction Type",
            "totalAmount": {
                "$sum": { "$toDouble": "$Transaction Amount" }
            }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline):
    print(doc)

{'_id': 'Deposit', 'totalAmount': 252042.62}
{'_id': 'Transfer', 'totalAmount': 291776.55}
{'_id': 'Withdrawal', 'totalAmount': 227346.12}

In [16]:
pipeline_status = [
    {
        "$group": {
            "_id": "$Transaction Status",
            "count": { "$sum": 1 }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline_status):
    print(doc)

{'_id': 'Failed', 'count': 513}
{'_id': 'Success', 'count': 487}

In [17]:
pipeline_avg = [
    {
        "$group": {
            "_id": "$Transaction Type",
            "avgAmount": {
                "$avg": { "$toDouble": "$Transaction Amount" }
            }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline_avg):
    print(doc)

{'_id': 'Transfer', 'avgAmount': 780.1512032085561}
{'_id': 'Withdrawal', 'avgAmount': 733.3745806451612}
{'_id': 'Deposit', 'avgAmount': 797.6032278481013}

In [18]:
fraud_count = transactions_collection.count_documents(
    {"Fraud Flag": "True"}
)

print("Nombre de transactions frauduleuses :", fraud_count)

Nombre de transactions frauduleuses : 481

In [19]:
pipeline_total = [
    {
        "$group": {
            "_id": None,
            "totalAmount": {
                "$sum": { "$toDouble": "$Transaction Amount" }
            }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline_total):
    print("Montant total des transactions :", doc["totalAmount"])

Montant total des transactions : 771165.29