In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.12/dist-packages (4.15.5)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from pymongo) (2.8.0)

In [21]:
from pymongo import MongoClient
from urllib.parse import quote_plus

# URI MongoDB Atlas (remplace username, password et cluster)
username = quote_plus("ILaEL123_db_user")
password = quote_plus("Nourilham@123")
uri = f"mongodb+srv://{username}:{password}@cluster1.r5kru49.mongodb.net/?appName=Cluster1"
# Connexion au cluster
client = MongoClient(uri)

# Accéder à la base de données
db = client["BankDB"]

# Accéder à la collection
transactions_collection = db["transactions"]

# Vérification
print("Connexion à MongoDB Atlas réussie!")

Connexion à MongoDB Atlas réussie!

In [32]:
for doc in result:
    print(f"Transaction Type: {doc['_id']}, Total Amount: {doc['totalAmount']}")

In [33]:
print(db.list_collection_names())
print(db["transactions"].count_documents({}))

['transactions']
1

In [34]:
print(client.list_database_names())

['BankDB', 'sample_mflix', 'admin', 'local']

In [29]:
transactions_collection.insert_one({
    "TransactionID": 1,
    "Montant": 1000,
    "Type": "Credit"
})

InsertOneResult(ObjectId('694ab23819dfb7326a8416aa'), acknowledged=True)

In [31]:
print(transactions_collection.count_documents({}))

1

In [36]:
pipeline = [
    {
        "$group": {
            "_id": "$TransactionType",
            "totalAmount": {"$sum": "$TransactionAmount"}
        }
    }
]

result = transactions_collection.aggregate(pipeline)

for doc in result:
    print(doc)

{'_id': None, 'totalAmount': 0}

In [38]:
pipeline_status = [
    {
        "$group": {
            "_id": "$Transaction Status",
            "count": {"$sum": 1}
        }
    }
]

for doc in transactions_collection.aggregate(pipeline_status):
    print(doc)

{'_id': None, 'count': 1}

In [39]:
pipeline_avg = [
    {
        "$group": {
            "_id": None,
            "avgAmount": {"$avg": "$Transaction Amount"}
        }
    }
]

for doc in transactions_collection.aggregate(pipeline_avg):
    print(doc)

{'_id': None, 'avgAmount': None}

In [40]:
fraud_count = transactions_collection.count_documents({"Fraud Flag": "True"})
print("Nombre de transactions frauduleuses :", fraud_count)

Nombre de transactions frauduleuses : 0

In [41]:
transactions_collection.insert_many([
    {"TransactionID": 1, "Montant": 1000, "Type": "Credit"},
    {"TransactionID": 2, "Montant": 500, "Type": "Debit"},
    {"TransactionID": 3, "Montant": 1500, "Type": "Credit"},
    {"TransactionID": 4, "Montant": 700, "Type": "Debit"},
    {"TransactionID": 5, "Montant": 2000, "Type": "Credit"}
])

InsertManyResult([ObjectId('694ac7e019dfb7326a8416ab'), ObjectId('694ac7e019dfb7326a8416ac'), ObjectId('694ac7e019dfb7326a8416ad'), ObjectId('694ac7e019dfb7326a8416ae'), ObjectId('694ac7e019dfb7326a8416af')], acknowledged=True)

In [42]:
pipeline = [
    {
        "$group": {
            "_id": "$Type",
            "totalAmount": {"$sum": "$Montant"}
        }
    }
]

result = transactions_collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Debit', 'totalAmount': 1200}
{'_id': 'Credit', 'totalAmount': 5500}